{% block field_row %}
{% spaceless %}
    <div class="control-group {% if errors|length > 0 %}error{% endif %}" id="{{id}}_group">
        <div class="control-label">
            {{ form_label(form) }}
        </div>
        <div class="controls">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block form_row %}
{% spaceless %}
    <div id="{{id}}_group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block ngs_money_widget %}
    {% spaceless %}
    {% set type = type|default('text') %}
    {% set attr = attr|merge({'class': 'input-small' }) %}
    <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock %}

    
{% block ngs_localdate_widget %}
    {% spaceless %}
    {% set attr = attr|merge({'class': 'has-datepicker input-small' }) %}
    <input type="text" {{ block('widget_attributes') }} value="{{ value }}">
    {% endspaceless %}
{% endblock %}

{% block percent_widget %}
    {% spaceless %}
    {% set type = type|default('text') %}
    {% set attr = attr|merge({'class': 'input-small' }) %}
    <div class="input-prepend">
        <span class="add-on">%</span>
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
    {% endspaceless %}
{% endblock %}

{% block form_widget_compound %}
{% spaceless %}
<!-- @todo indent .form-compound -->
    <div class="form-compound" {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock form_widget_compound %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="form-errors unstyled">
                {% for error in errors %}
                    <li>{{
                    error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                    }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block ngs_lookup_widget %}
    {% spaceless %}
    {% set attr = attr|merge({'class': 'input-medium pull-left' }) %}

    {% if type1 == "textarea" %}
        <textarea {{ block('widget_attributes') }}>{{ value | default ('') }}</textarea>
    {% else %}
        <input type="{{ type1 }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endif %}

    {% set attributes = block ('widget_attributes') | replace ({ ' name="': ' data-name="', 'id="': 'data-id="'}) %}
    {% if type2 == "textarea" %}
        <textarea readonly="readonly" {{ attributes | raw }} id="{{ id }}-display">{{ display_value | default (value) | default ('') }}</textarea>
    {% else %}
        <input readonly="readonly" type="{{ type2 }}" id="{{ id }}-display" {{ attributes | raw }} {% if display_value is not empty %}value="{{ display_value }}" {% endif %}/>
    {% endif %}

    <a href="{{ path(route_prefix~'index') }}" class="btn grid-lookup" lookup-options="" lookup-target="#{{ id }}" lookup-display="{{ display }}" lookup-display-target="#{{ id }}-display" lookup-modal="{{ modalContainer }}" id="{{ id }}-show-grid"><i class="icon icon-search" ></i></a>
    {% endspaceless %}
{% endblock %}

{% block ngs_collection_row %}
    {% if html is defined %}
        {% set proto_str = html %}
    {% else %}
        {% set proto_str = form_widget (prototype) %}
    {% endif %}

    <div class="" data-prototype="{{ proto_str | e }}" data-prototype-name="{{ prototype.vars.name }}" data-prototype-fullname="{{ prototype.vars.full_name }}" data-name="{{ name }}">
        <h4>{{ name | title }}</h4>
        <ul class="unstyled">
            {% for f in form %}
            <li>
                <a class="btn btn_primary remove"><i class="icon-minus"></i> Remove {{ name | lower }}</a>
                {% if f.vars.html is defined %}
                    {{ f.vars.html }}
                {% else %}
                    {{ form_widget(f) }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>

        <a class="btn btn_primary add"><i class="icon-plus"></i> Add {{ name | lower }}</a>
    </div>   
{% endblock %}

{% block button_remove %}
    <a rel="tooltip" data-original-title="Remove item" data-placement="bottom" class="pull-right btn btn-mini remove"><i class="icon icon-trash"></i></a>
{% endblock %}
    
{% block collection_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': 'unstyled form-collection' }) %}
    <ul {{ block('widget_container_attributes') }} data-prototype="{{ block('button_remove')|e }}{{ form_widget(form.vars.prototype)|e }}">
        {{ block('collection_rows') }}
        {{ form_rest(form) }}
    </ul>
{% endspaceless %}
{% endblock collection_widget %}

{% block collection_rows %}
{% spaceless %}
    {{ form_errors(form) }}
    {% for child in form %}
    <li>
        {{ block('button_remove') }}
        <div>
        {{ form_row(child, {'attr':{'class':'collection-item'}}) }}
        </div>
    </li>
    {% endfor %}
{% endspaceless %}
{% endblock collection_rows %}
